.App {
  text-align: center;
}

.flex-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / 4;
  gap: 10px
}

.button {
  background-color: rgba(0, 0, 0, 0.548);
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
}

.loading {
  margin: auto;
  text-align: center;
}